@page
@model Timer.Pages.TimerModel
@{
}

<h1 id="tim">Timer</h1>
    <div class="timer-container">
        <span id="hour1" class="hours">00</span>
        <span>:</span>
        <span class="minutes">00</span>
        <span>:</span>
        <span class="seconds">00</span>
    </div>
    <button type="button" onclick="StartTimer()">start</button>